.header__lang-link_line {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.17;
    max-width: 30px;
    min-height: 28px;
}

.header__lang-link_line:hover {
    opacity: 0.4;
    transition: 0.4s;
}

@media screen and (max-width: 320px) {
    .header__lang-link_line {
        font-size: 18px;
        line-height: 1.11;
        max-width: 22px;
        min-height: 20px;
    }
}