.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 136px;
}

@media screen and (max-width: 1024px) {
    .header {
        max-height: 52px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-height: 52px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-height: 42px;
    }
}