.cover {
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: 48px;
    margin-right: 48px;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        margin-bottom: 88px;
        margin-left: 0;
        margin-right: 0;
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
        margin-left: 0;
        margin-right: 0;
        max-width: 320px;
        min-height: 200px;
    }
}