.place__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 456px;
    font-size: 18px;
    line-height: 1.22;
}

.place__link:hover {
    opacity: 0.8;
    transition: 0.4s;
}