.place__url-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #AAAAAA;
    max-width: 456px;
    font-size: 12px;
    line-height: 1.70;
    letter-spacing: 2px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        max-width: 352px;
        line-height: 1;
    }
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        max-width: 288px;
    }
}