.place__url-heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #AAAAAA;
    max-width: 456px;
    font-size: 12px;
    line-height: 1.70;
    letter-spacing: 2px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}