.header__lang-links {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    gap: 18px;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 46px 48px 0 0;
}

@media screen and (max-width: 768px) {
    .header__lang-links {
        margin: 46px 24px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        margin: 30px 16px 0 0;
    }
}